<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Todos<br>
<form action="/test_orm_add" method="post">
    <input type="text" name="matter" placeholder="What needs to be done?">
    <input type="submit" value="submit">
</form>
<form action="/test_orm_update" method="post">
    <table>
            {{range .todos}}
                <tr>
                    <td><input type="checkbox" name="matter" value="{{.Id}}" />{{.Matter}}</td>
                    <td><a href="/test_orm_delete?id={{.Id}}">删除</a></td>
                </tr>
            {{end}}
    </table>
    <input type="submit" value="complete" /><br>
    <a href="/test_orm_all_list" >All</a>
    <a href="/test_orm_active_list" >Active</a>
    <a href="/test_orm_completed_list" >Completed</a>
    <a href="/test_orm_clear_list">Clear completed</a>
</form>
</body>
</html>