<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
用户表<br>
<a href="/test_orm_add">添加</a><br>
<form method="post">
    <table>
        <thread>
            <th>用户编号</th>
            <th>用户名</th>
        </thread>
            {{range .users}}
                <tr>
                    <td>{{.Id}}</td>
                    <td>{{.Username}}</td>
                    <td><a href="/test_orm_update?id={{.Id}}">修改</a></td>
                    <td><a href="/test_orm_delete?id={{.Id}}">删除</a></td>
                </tr>
            {{end}}
    </table>
</form>
</body>
</html>